@{
    Layout = "_LoggedShelterLayout";
    bool castrated = bool.TryParse(Model.Castrated, out _);
}
@model PetMate.ViewModels.PetVM;


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="/css/dogProfile.css" />
    <title></title>
</head>
<body>

    <div class="wrapper">

        <div class="name comps">
            <h3>This is</h3>
            <h1>@Model.Name</h1>
        </div>

        <div class="other-info">
            <p>He is a @Model.Breed</p>
            <p>He is @Model.Age years old</p>
            <p>He is rather small</p>
            @if (castrated)
            {
                <p>He is castrated</p>
            }
            else
            {
                <p>He isn't castrated</p>
            }

        </div>

        <div class="wrap-gallery-and-sub">
            <div class="container gallery-container">


                <div class="tz-gallery">

                    <div class="row">

                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/bridge.jpg">
                                <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/bridge.jpg" alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/park.jpg">
                                <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/park.jpg" alt="Park">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/tunnel.jpg">
                                <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/tunnel.jpg" alt="Tunnel">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/traffic.jpg">
                                <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/traffic.jpg" alt="Traffic">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/rails.jpg">
                                <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/rails.jpg" alt="Coast">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="lightbox" href="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg">
                                <img src="https://raw.githubusercontent.com/LeshikJanz/libraries/master/Related%20images/Bootstrap%20example/coast.jpg" alt="Rails">
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="sponsor">
                <p>
                    Support a furry friend in need! Our sponsorship program lets you make a difference by providing food,
                    medical care, and shelter for pets awaiting their forever homes. Choose a pet to sponsor and receive
                    updates on their journey. Together, we can give them a brighter future!
                </p>
                <button>SUBSCRIBE</button>
            </div>
        </div>
        <div class="actions">
            <button>REQUEST A VISIT</button>
            <button>ASK ABOUT @Model.Name.ToUpper()</button>
        </div>
        <div class="other-pets">
            <div class="container-fluid py-5">
                <div class="container">
                    <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                        <h5 class="text-primary text-uppercase">If you love @Model.Name</h5>
                        <h1 class="display-5 text-uppercase mb-0">You also might love</h1>
                    </div>
                    <div class="owl-carousel team-carousel position-relative" style="padding-right: 25px;">
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/images/placeholder.jpg" alt="">
                                <div class="team-overlay">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-center p-4">
                                <h5 class="text-uppercase">Full Name</h5>
                                <p class="m-0">Designation</p>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/images/placeholder.jpg" alt="">
                                <div class="team-overlay">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-center p-4">
                                <h5 class="text-uppercase">Full Name</h5>
                                <p class="m-0">Designation</p>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/images/placeholder.jpg" alt="">
                                <div class="team-overlay">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-center p-4">
                                <h5 class="text-uppercase">Full Name</h5>
                                <p class="m-0">Designation</p>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/images/placeholder.jpg" alt="">
                                <div class="team-overlay">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-center p-4">
                                <h5 class="text-uppercase">Full Name</h5>
                                <p class="m-0">Designation</p>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/images//placeholder.jpg" alt="">
                                <div class="team-overlay">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-light text-center p-4">
                                <h5 class="text-uppercase">Full Name</h5>
                                <p class="m-0">Designation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>
</html>
<style>
  

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 60vh;
    padding: 1px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 20px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #79B72D;
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}


</style>


