@model PetMate.ViewModels.ShelterViewModel;
@inject PetMate.Helpers.IFileManager file;
@using PetMate.ViewModels;
@using PetMate.Helpers;

@{

    Layout = "_LoggedShelterLayout";
    string? confirm_msg = ViewBag.confirm_msg;
    var shelter = Model;

    string accepted = RequestStatus.Приета.ToString();
    string closed = RequestStatus.Отхвърлена.ToString();
    string pending = RequestStatus.в_очакване.ToString();


    async Task<IFormFile> PetPhoto(PetMate.Model.Pet pet)
    {
        PetVM pet_vm = await PetMate.Helpers.PetMateModel.ToPetVM(pet.Id);
        return pet_vm.Image;
    }
    string StatusClass(string status)
    {
        switch (status)
        {
            case "Приета":
                status = "success";
                break;
            case "Отхвърлена":
                status = "close";
                break;
            case "в_очакване":
                status = "warning";
                break;
        }
        return status;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon" />
    <title>Shelter page - @shelter.ShelterName</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/lineicons.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/materialdesignicons.min.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/dialogs.css" />

    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.js"></script>

</head>
<body>
    <style>
        .req-action{
            width:40px;
            height:40px;
            border-radius:50%;
            transition:all ease-in-out 0.3s;
            margin:0 5px;
        }

        .action-ic{
            transition:background-color ease-in-out 0.3s
        }

        .req-action.accept:hover{
            background-color:forestgreen !important;

            .action-ic-accept{
                color:white !important;
            }
            
        }

        .req-action.reject:hover {
            background-color: red !important;
            .action-ic-reject

        {
            color: white !important;
        }

        }</style>
    <!-- ======== Preloader =========== -->
    @*    <div id="preloader">
    <div class="spinner"></div>
    </div>*@
    <!-- ======== Preloader =========== -->
    <!-- ======== sidebar-nav start =========== -->
    <!-- ======== sidebar-nav end =========== -->
    <!-- ======== main-wrapper start =========== -->

 
    <main class="main-wrapper">
        @if (!string.IsNullOrEmpty(confirm_msg))
        {
            <div class="pm-dialog confirm" id="pm-dialog">
                <p>@confirm_msg</p>
                <button onclick="closeDialog()">OK</button>
            </div>
        }
        <!-- ========== header start ========== -->
     
        <!-- ========== header end ========== -->
        <!-- ========== section start ========== -->
        <section class="section">
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            
                        </div>
                        <!-- end col -->
                        <div class="col-md-6">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    
                                </nav>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== title-wrapper end ========== -->
                
                <!-- End Row -->
                
                <!-- End Row -->
                <div class="row">
                    <div class="col-lg-5">
                        
                    </div>
                    <!-- End Col -->
                    <div class="col-lg-full">
                        <div class="card-style mb-30">
                            <div class="title d-flex flex-wrap justify-content-between align-items-center">
                                <div class="left">
                                    <h6 class="text-medium mb-30">Любимци</h6>
                                </div>
                                <div class="right">
                                    
                                    <!-- end select -->
                                </div>
                            </div>
                            <!-- End Title -->
                            <div class="table-responsive">
                                <table class="table top-selling-table">
                                    <thead>
                                        
                                        <tr>
                                            <th></th>
                                            <th>
                                                <h6 class="text-sm text-medium">Име</h6>
                                            </th>
                                            <th class="min-width">
                                                 <h6 class="text-sm text-medium">Години</h6>
                                            </th>
                                            <th class="min-width">
                                                <h6 class="text-sm text-medium">Размер</h6>
                                            </th>
                                            <th class="min-width">
                                                <h6 class="text-sm text-medium">Пол</h6>
                                            </th>
                                            <th class="min-width">
                                                <h6 class="text-sm text-medium">Порода</h6>
                                            </th>
                                           <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       @foreach(var pet in shelter.Pets)
                                       {

                                             <tr>
                                            <td>
                                                <div class="check-input-primary">
                                                    <input class="form-check-input" type="checkbox" id="checkbox-1" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="product">
                                                    <div class="image">
                                                        <img src="data:image/jpeg;base64,@(await file.DisplayImage(pet.Image))" alt="" />
                                                    </div>
                                                    <p class="text-sm">@pet.Name</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-sm">@pet.Age</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">@pet.Size</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">@pet.Gender</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">@pet.Breed</p>
                                            </td>
                                            <td>
                                                <div class="action justify-content-end">
                                                    <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <i class="lni lni-more-alt"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Remove</a>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Edit</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                       }
                                       
                                       @* <tr>
                                            <td>
                                                <div class="check-input-primary">
                                                    <input class="form-check-input" type="checkbox" id="checkbox-1" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="product">
                                                    <div class="image">
                                                        <img src="assets/images/products/product-mini-2.jpg" alt="" />
                                                    </div>
                                                    <p class="text-sm">SOfa</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-sm">Interior</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">$145</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">13</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">$15</p>
                                            </td>
                                            <td>
                                                <div class="action justify-content-end">
                                                    <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <i class="lni lni-more-alt"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Remove</a>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Edit</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="check-input-primary">
                                                    <input class="form-check-input" type="checkbox" id="checkbox-1" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="product">
                                                    <div class="image">
                                                        <img src="assets/images/products/product-mini-3.jpg" alt="" />
                                                    </div>
                                                    <p class="text-sm">Dining Table</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-sm">Interior</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">$95</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">32</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">$215</p>
                                            </td>
                                            <td>
                                                <div class="action justify-content-end">
                                                    <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <i class="lni lni-more-alt"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Remove</a>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Edit</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="check-input-primary">
                                                    <input class="form-check-input" type="checkbox" id="checkbox-1" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="product">
                                                    <div class="image">
                                                        <img src="" alt="" />
                                                    </div>
                                                    <p class="text-sm">Office Chair</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-sm">Interior</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">$105</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">23</p>
                                            </td>
                                            <td>
                                                <p class="text-sm">$345</p>
                                            </td>
                                            <td>
                                                <div class="action justify-content-end">
                                                    <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                        <i class="lni lni-more-alt"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1">
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Remove</a>
                                                        </li>
                                                        <li class="dropdown-item">
                                                            <a href="#0" class="text-gray">Edit</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>
                                <!-- End Table -->
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
               
                <!-- End Row -->
                <div class="row">
                    
                    <!-- End Col -->
                    <div class="col-lg-full">
                        <div class="card-style mb-30">
                            <div class="title d-flex flex-wrap align-items-center justify-content-between">
                                <div class="left">
                                    <h6 class="text-medium mb-30">Заявки за осиновяване</h6>
                                </div>
                                
                            </div>
                            <!-- End Title -->
                            <div class="table-responsive">
                                <table class="table top-selling-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <h6 class="text-sm text-medium">От</h6>
                                            </th>
                                            <th class="min-width">
                                                <h6 class="text-sm text-medium">
                                                    Към любимец
                                                </h6>
                                            </th>
                                            <th class="min-width">
                                                <h6 class="text-sm text-medium">
                                                    Статус 
                                                </h6>
                                            </th>
                                            <th>
                                                <h6 class="text-sm text-medium">
                                                    Изпратена на 
                                                </h6>
                                            </th>
                                            <th>
                                                <h6 class="text-sm text-medium text-end">
                                                    Действия
                                                </h6>
                                            </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var request in shelter.AdoptionRequests)
                                        {

                                            <tr>
                                            <td>
                                                <div class="product">
                                                        <i class="bi bi-home text-secondary-emphasis mx-1"></i>
                                                    <p class="text-sm">@request.User.Username</p>
                                                </div>
                                            </td>
                                            <td>
                                                    <div class="product">
                                                        <div class="image">
                                                            <img src="data:image/jpeg;base64,@(await file.DisplayImage(await PetPhoto(request.Pet)))" alt="" />
                                                        </div>
                                                        <p class="text-sm">@request.Pet.Name</p>
                                                    </div>
                                            </td>
                                            <td>
                                                <span class="status-btn @StatusClass(request.Status)-btn">@request.Status</span>
                                            </td>
                                                <td>
                                                    <span class="text-sm text-secondary-emphasis"><i class="bi bi-calendar mx-1"></i> @request.Datetime.ToShortDateString() <i class="bi bi-clock mx-1"></i>@request.Datetime.ToShortTimeString()</span>
                                                </td>
                                            <td>
                                                <div class="action justify-content-end">
                                                        <form asp-action="AcceptRequest" asp-controller="Shelter" method="post">
                                                            <input type="hidden" value="@request.Id" name="rid">
                                                          <button class="edit bg-light req-action accept">
                                                             <i class="lni lni-checkmark text-success-emphasis action-ic action-ic-accept "></i>
                                                          </button>
                                                        </form>
                                                        <form asp-action="RejectRequest" asp-controller="Shelter" method="post">
                                                            <input type="hidden" value="@request.Id" name="rid">
                                                            <button class="edit bg-light req-action reject">
                                                                <i class="lni lni-close text-warning-emphasis action-ic action-ic-reject "></i>
                                                            </button>
                                                        </form>
                                                </div>
                                            </td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                                <!-- End Table -->
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- end container -->
        </section>
        <!-- ========== section end ========== -->
        <!-- ========== footer start =========== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 order-last order-md-first">
                        <div class="copyright text-center text-md-start">
                            <p class="text-sm">
                                Designed and Developed by
                                <a href="https://plainadmin.com" rel="nofollow" target="_blank">
                                    PlainAdmin
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- end col-->
                   
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
        <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->
    <!-- ========= All Javascript files linkup ======== -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/Chart.min.js"></script>
    <script src="/assets/js/dynamic-pie-chart.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/fullcalendar.js"></script>
    <script src="/assets/js/jvectormap.min.js"></script>
    <script src="/assets/js/world-merc.js"></script>
    <script src="/assets/js/polyfill.js"></script>
    <script src="/assets/js/main.js"></script>
@*    <script src="/assets/js/dialogs.js"> </script>*@

    <script>


        var dialog = document.getElementById("pm-dialog");


        function showDialog() {
            if (dialog) {
                dialog.style.top = '20px';
                dialog.style.opacity = '1';
            }
        }

        // Function to close the dialog
        function closeDialog() {
            dialog.style.top = '-100px'; // Move dialog out of view
            dialog.style.opacity = '0'; // Fade out
        }


        document.addEventListener("DOMContentLoaded", function () {
            showDialog();

            // Auto-close after 4 seconds
            setTimeout(function () {
                closeDialog();
            }, 4000);
        });

        // ======== jvectormap activation
        var markers = [
            { name: "Egypt", coords: [26.8206, 30.8025] },
            { name: "Russia", coords: [61.524, 105.3188] },
            { name: "Canada", coords: [56.1304, -106.3468] },
            { name: "Greenland", coords: [71.7069, -42.6043] },
            { name: "Brazil", coords: [-14.235, -51.9253] },
        ];

        var jvm = new jsVectorMap({
            map: "world_merc",
            selector: "#map",
            zoomButtons: true,

            regionStyle: {
                initial: {
                    fill: "#d1d5db",
                },
            },

            labels: {
                markers: {
                    render: (marker) => marker.name,
                },
            },

            markersSelectable: true,
            selectedMarkers: markers.map((marker, index) => {
                var name = marker.name;

                if (name === "Russia" || name === "Brazil") {
                    return index;
                }
            }),
            markers: markers,
            markerStyle: {
                initial: { fill: "#4A6CF7" },
                selected: { fill: "#ff5050" },
            },
            markerLabelStyle: {
                initial: {
                    fontWeight: 400,
                    fontSize: 14,
                },
            },
        });
        // ====== calendar activation
        document.addEventListener("DOMContentLoaded", function () {
            var calendarMiniEl = document.getElementById("calendar-mini");
            var calendarMini = new FullCalendar.Calendar(calendarMiniEl, {
                initialView: "dayGridMonth",
                headerToolbar: {
                    end: "today prev,next",
                },
            });
            calendarMini.render();
        });

        // =========== chart one start
        const ctx1 = document.getElementById("Chart1").getContext("2d");
        const chart1 = new Chart(ctx1, {
            type: "line",
            data: {
                labels: [
                    "Jan",
                    "Fab",
                    "Mar",
                    "Apr",
                    "May",
                    "Jun",
                    "Jul",
                    "Aug",
                    "Sep",
                    "Oct",
                    "Nov",
                    "Dec",
                ],
                datasets: [
                    {
                        label: "",
                        backgroundColor: "transparent",
                        borderColor: "#365CF5",
                        data: [
                            600, 800, 750, 880, 940, 880, 900, 770, 920, 890, 976, 1100,
                        ],
                        pointBackgroundColor: "transparent",
                        pointHoverBackgroundColor: "#365CF5",
                        pointBorderColor: "transparent",
                        pointHoverBorderColor: "#fff",
                        pointHoverBorderWidth: 5,
                        borderWidth: 5,
                        pointRadius: 8,
                        pointHoverRadius: 8,
                        cubicInterpolationMode: "monotone", // Add this line for curved line
                    },
                ],
            },
            options: {
                plugins: {
                    tooltip: {
                        callbacks: {
                            labelColor: function (context) {
                                return {
                                    backgroundColor: "#ffffff",
                                    color: "#171717"
                                };
                            },
                        },
                        intersect: false,
                        backgroundColor: "#f9f9f9",
                        title: {
                            fontFamily: "Plus Jakarta Sans",
                            color: "#8F92A1",
                            fontSize: 12,
                        },
                        body: {
                            fontFamily: "Plus Jakarta Sans",
                            color: "#171717",
                            fontStyle: "bold",
                            fontSize: 16,
                        },
                        multiKeyBackground: "transparent",
                        displayColors: false,
                        padding: {
                            x: 30,
                            y: 10,
                        },
                        bodyAlign: "center",
                        titleAlign: "center",
                        titleColor: "#8F92A1",
                        bodyColor: "#171717",
                        bodyFont: {
                            family: "Plus Jakarta Sans",
                            size: "16",
                            weight: "bold",
                        },
                    },
                    legend: {
                        display: false,
                    },
                },
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    y: {
                        grid: {
                            display: false,
                            drawTicks: false,
                            drawBorder: false,
                        },
                        ticks: {
                            padding: 35,
                            max: 1200,
                            min: 500,
                        },
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            color: "rgba(143, 146, 161, .1)",
                            zeroLineColor: "rgba(143, 146, 161, .1)",
                        },
                        ticks: {
                            padding: 20,
                        },
                    },
                },
            },
        });
        // =========== chart one end

        // =========== chart two start
        const ctx2 = document.getElementById("Chart2").getContext("2d");
        const chart2 = new Chart(ctx2, {
            type: "bar",
            data: {
                labels: [
                    "Jan",
                    "Fab",
                    "Mar",
                    "Apr",
                    "May",
                    "Jun",
                    "Jul",
                    "Aug",
                    "Sep",
                    "Oct",
                    "Nov",
                    "Dec",
                ],
                datasets: [
                    {
                        label: "",
                        backgroundColor: "#365CF5",
                        borderRadius: 30,
                        barThickness: 6,
                        maxBarThickness: 8,
                        data: [
                            600, 700, 1000, 700, 650, 800, 690, 740, 720, 1120, 876, 900,
                        ],
                    },
                ],
            },
            options: {
                plugins: {
                    tooltip: {
                        callbacks: {
                            titleColor: function (context) {
                                return "#8F92A1";
                            },
                            label: function (context) {
                                let label = context.dataset.label || "";

                                if (label) {
                                    label += ": ";
                                }
                                label += context.parsed.y;
                                return label;
                            },
                        },
                        backgroundColor: "#F3F6F8",
                        titleAlign: "center",
                        bodyAlign: "center",
                        titleFont: {
                            size: 12,
                            weight: "bold",
                            color: "#8F92A1",
                        },
                        bodyFont: {
                            size: 16,
                            weight: "bold",
                            color: "#171717",
                        },
                        displayColors: false,
                        padding: {
                            x: 30,
                            y: 10,
                        },
                    },
                },
                legend: {
                    display: false,
                },
                legend: {
                    display: false,
                },
                layout: {
                    padding: {
                        top: 15,
                        right: 15,
                        bottom: 15,
                        left: 15,
                    },
                },
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        grid: {
                            display: false,
                            drawTicks: false,
                            drawBorder: false,
                        },
                        ticks: {
                            padding: 35,
                            max: 1200,
                            min: 0,
                        },
                    },
                    x: {
                        grid: {
                            display: false,
                            drawBorder: false,
                            color: "rgba(143, 146, 161, .1)",
                            drawTicks: false,
                            zeroLineColor: "rgba(143, 146, 161, .1)",
                        },
                        ticks: {
                            padding: 20,
                        },
                    },
                },
                plugins: {
                    legend: {
                        display: false,
                    },
                    title: {
                        display: false,
                    },
                },
            },
        });
        // =========== chart two end

        // =========== chart three start
        const ctx3 = document.getElementById("Chart3").getContext("2d");
        const chart3 = new Chart(ctx3, {
            type: "line",
            data: {
                labels: [
                    "Jan",
                    "Feb",
                    "Mar",
                    "Apr",
                    "May",
                    "Jun",
                    "Jul",
                    "Aug",
                    "Sep",
                    "Oct",
                    "Nov",
                    "Dec",
                ],
                datasets: [
                    {
                        label: "Revenue",
                        backgroundColor: "transparent",
                        borderColor: "#365CF5",
                        data: [80, 120, 110, 100, 130, 150, 115, 145, 140, 130, 160, 210],
                        pointBackgroundColor: "transparent",
                        pointHoverBackgroundColor: "#365CF5",
                        pointBorderColor: "transparent",
                        pointHoverBorderColor: "#365CF5",
                        pointHoverBorderWidth: 3,
                        pointBorderWidth: 5,
                        pointRadius: 5,
                        pointHoverRadius: 8,
                        fill: false,
                        tension: 0.4,
                    },
                    {
                        label: "Profit",
                        backgroundColor: "transparent",
                        borderColor: "#9b51e0",
                        data: [
                            120, 160, 150, 140, 165, 210, 135, 155, 170, 140, 130, 200,
                        ],
                        pointBackgroundColor: "transparent",
                        pointHoverBackgroundColor: "#9b51e0",
                        pointBorderColor: "transparent",
                        pointHoverBorderColor: "#9b51e0",
                        pointHoverBorderWidth: 3,
                        pointBorderWidth: 5,
                        pointRadius: 5,
                        pointHoverRadius: 8,
                        fill: false,
                        tension: 0.4,
                    },
                    {
                        label: "Order",
                        backgroundColor: "transparent",
                        borderColor: "#f2994a",
                        data: [180, 110, 140, 135, 100, 90, 145, 115, 100, 110, 115, 150],
                        pointBackgroundColor: "transparent",
                        pointHoverBackgroundColor: "#f2994a",
                        pointBorderColor: "transparent",
                        pointHoverBorderColor: "#f2994a",
                        pointHoverBorderWidth: 3,
                        pointBorderWidth: 5,
                        pointRadius: 5,
                        pointHoverRadius: 8,
                        fill: false,
                        tension: 0.4,
                    },
                ],
            },
            options: {
                plugins: {
                    tooltip: {
                        intersect: false,
                        backgroundColor: "#fbfbfb",
                        titleColor: "#8F92A1",
                        bodyColor: "#272727",
                        titleFont: {
                            size: 16,
                            family: "Plus Jakarta Sans",
                            weight: "400",
                        },
                        bodyFont: {
                            family: "Plus Jakarta Sans",
                            size: 16,
                        },
                        multiKeyBackground: "transparent",
                        displayColors: false,
                        padding: {
                            x: 30,
                            y: 15,
                        },
                        borderColor: "rgba(143, 146, 161, .1)",
                        borderWidth: 1,
                        enabled: true,
                    },
                    title: {
                        display: false,
                    },
                    legend: {
                        display: false,
                    },
                },
                layout: {
                    padding: {
                        top: 0,
                    },
                },
                responsive: true,
                // maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    y: {
                        grid: {
                            display: false,
                            drawTicks: false,
                            drawBorder: false,
                        },
                        ticks: {
                            padding: 35,
                        },
                        max: 350,
                        min: 50,
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            color: "rgba(143, 146, 161, .1)",
                            drawTicks: false,
                            zeroLineColor: "rgba(143, 146, 161, .1)",
                        },
                        ticks: {
                            padding: 20,
                        },
                    },
                },
            },
        });
        // =========== chart three end

        // ================== chart four start
        const ctx4 = document.getElementById("Chart4").getContext("2d");
        const chart4 = new Chart(ctx4, {
            type: "bar",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
                datasets: [
                    {
                        label: "",
                        backgroundColor: "#365CF5",
                        borderColor: "transparent",
                        borderRadius: 20,
                        borderWidth: 5,
                        barThickness: 20,
                        maxBarThickness: 20,
                        data: [600, 700, 1000, 700, 650, 800],
                    },
                    {
                        label: "",
                        backgroundColor: "#d50100",
                        borderColor: "transparent",
                        borderRadius: 20,
                        borderWidth: 5,
                        barThickness: 20,
                        maxBarThickness: 20,
                        data: [690, 740, 720, 1120, 876, 900],
                    },
                ],
            },
            options: {
                plugins: {
                    tooltip: {
                        backgroundColor: "#F3F6F8",
                        titleColor: "#8F92A1",
                        titleFontSize: 12,
                        bodyColor: "#171717",
                        bodyFont: {
                            weight: "bold",
                            size: 16,
                        },
                        multiKeyBackground: "transparent",
                        displayColors: false,
                        padding: {
                            x: 30,
                            y: 10,
                        },
                        bodyAlign: "center",
                        titleAlign: "center",
                        enabled: true,
                    },
                    legend: {
                        display: false,
                    },
                },
                layout: {
                    padding: {
                        top: 0,
                    },
                },
                responsive: true,
                // maintainAspectRatio: false,
                title: {
                    display: false,
                },
                scales: {
                    y: {
                        grid: {
                            display: false,
                            drawTicks: false,
                            drawBorder: false,
                        },
                        ticks: {
                            padding: 35,
                            max: 1200,
                            min: 0,
                        },
                    },
                    x: {
                        grid: {
                            display: false,
                            drawBorder: false,
                            color: "rgba(143, 146, 161, .1)",
                            zeroLineColor: "rgba(143, 146, 161, .1)",
                        },
                        ticks: {
                            padding: 20,
                        },
                    },
                },
            },
        });
        
            //document.addEventListener('DOMContentLoaded', function () {
            //    var calendarEl = document.getElementById('calendar');
            //    var calendar = new FullCalendar.Calendar(calendarEl, {
            //        initialView: 'dayGridMonth',
            //        events: '/Shelter/GetGoogleCalendarEvents', // Fetch events from backend
            //    });
            //    calendar.render();
            //});
         // =========== chart four end

    </script>
    <style>

    </style>
</body>
</html>
